<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <h1 style="text-align: center">hello {{name}} what are you doing here lil kid</h1>
    <div style="display: flex;align-items: center;justify-content: space-around;">
        {{4+8}}
        <a href="./about.html">About</a>
        <a href="./blog.html">Blog</a>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>