<html>
<head>
	<link rel="stylesheet" href="../static/main.css">
</head>
<body>
	<div class="links">
		<a href="./index.html">Home </a><a href="./about.html">About </a><a href="contact.html">Contact </a>
	</div>
	<div class="form">
		<form method="post" action="submit_form">
			<table>
				<tr>
					<td><label for="name">Name</label></td>
					<td><input type="text" name="name" id="name" /></td>
					<tr>
						<tr>
							<td><label for="email">Email</label></td>
				<td><input type="text" name="email" id="email" /></td>
			<tr>
			<tr>
				<td><label for="message">Message</label></td>
				<td><textarea name="message" id="message" rows="3"></textarea></td>
			<tr>
		</table>
		<ul class="actions">
			<li><input type="submit" value="Send Message" /></li>
		</ul>
	</form>
</div>
<h1 align="center">Thank you we gonna contact you soon</h1>
</body>
</html>
